@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.score-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  margin-left: 5%;
  color: rgb(44, 25, 25);
  font-family: 'Poppins', sans-serif;
  margin-top: 6%;
  font-size: xxx-large;
}

.add-score {
  width: 40%;
}

.score-board,
.add-score {
  box-shadow: 1px 2px 11px 1px grey;
  border: 1px solid grey;
}

h2 {
  font-size: 32px;
  color: rgb(44, 25, 25);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-left: 10%;
}

.score-board {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2%;
}

.button {
  display: flex;
  justify-content: end;
  margin-top: 5%;
}

button {
  height: 40px;
  width: 22%;
  margin-bottom: 3%;
  background-color: rgb(49, 39, 39);
  color: #fff;
  border: none;
  margin-right: 5%;
  cursor: pointer;
  border-radius: 3%;
  box-shadow: 1px 2px 11px 1px grey;
  font-size: 100%;
}

button:hover {
  width: 25%;
}

button:active {
  transform: scale(0.8);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.form-class {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 5%;
  margin: 4%;
}

.copyright {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  flex-wrap: wrap;
}

li {
  padding: 2%;
  list-style: none;
}

li:nth-child(odd) {
  background-color: #c1c1c1;
  width: 100%;
}

.render-page {
  padding: 5%;
}